{% load static wagtailuserbar %}
{% load wagtailcore_tags %}

<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <title>
            Andrew K. Telleria
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}            
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" href="{% static 'css/fullscreen.css' %}" media="screen">
        <link rel="stylesheet" href="{% static 'css/flickity.css' %}" media="screen">        
        <link rel="stylesheet" type="text/css" href="{% static 'css/portfolio.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    
    

    <body class="{% block body_class %}{% endblock %}">
        {% block navbar %}
            {% include "includes/nav-bar.html" with parent=site_root calling_page=self %}
        {% endblock navbar %}
        {% wagtailuserbar %}

        <div class="main">
            {% block content %}{% endblock %}
            {% include "includes/footer.html" %}
        </div>

        {# Global javascript #}        
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        {% if page.title != 'Home' %}
            <script src="{% static 'js/flickity.pkgd.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/fullscreen.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/projectPage.js' %}"></script>
        {% endif %}
        <script type="text/javascript" src="{% static 'js/portfolio.js' %}"></script>
        <!-- <script type="text/javascript" src="{% static 'js/canvas1.js' %}"></script> -->
          
        {% if page.title == 'Home' %}
            <script type="text/javascript" src="{% static 'js/mountains.js' %}"></script> 
            <script type="text/javascript" src="{% static 'js/scrollreveal.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/reveal.js' %}"></script>
        {% endif %}
        
        
        
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

    </body>
</html>
