html, body{
   padding: 0;
   margin: 0;
   width: 100%;
}

.inner-container {
	max-width: 1200px;
	margin: auto;
	padding: 18px;
}

/* Navigation bar */

header {
	width: 100%;
	background-color: #A2AEBB;
}

header ul {
	max-width: 1200px;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;
	margin: 0;
}

header ul li {
	margin: 10px;
	padding: 5px;
	font-size: 30px;
}

header ul li a {
	text-decoration: none;
	color: #D00000;
}


/* Hero container on homepage */

canvas {
	width: 100%;
}

/*.home-header-image {
	width: 100%;
	height: 600px;
	background-size: cover;
	background-repeat: no-repeat;
}*/

.container-hero {
	background-color: green;
}

/* Section 1 */

.section-1 {
	border: 1px solid;
}

/* Section 2 */

.section-2, .homepage-body, .homepage-blog {
	border: 1px solid;
}

/* Footer */

footer {
	
	margin: 0;
}

footer ul {
	background-color: black;
	list-style: none;
	display: flex;
	justify-content: center;
    margin: 0;
    padding: 20px;	
}

footer a {
	text-decoration: none;
	color: #D00000;
	font-size: 30px;
	margin: 10px;
	padding: 5px;
}





















