{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
<div class="inner-container">
	<h1>{{ page.title }}</h1>
	{{ page.intro|richtext }}
	<div class="blogs-container">
		{% for post in resources %}
			{% with post=post.specific %}
				<a href="{{ post.url }}" class="blogpost">
		            {% image post.image fill-300x200-c100 %}
					<h2>{{ post.title }}</h2>
					<p>{{ post.intro }}</p>
				</a>
			{% endwith %}
		{% endfor %}
	</div>
</div>
{% endblock %}