{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
<div class="inner-container project-page-container">
	<h1>{{ page.title }}</h1>
	{% if page.github %}
		<h3><a href="{{ page.github }}">GitHub</a></h3>
	{% endif %}
	{% if page.project_url %}
		<h3><a href="{{ page.project_url }}">Project link</a></h3>
	{% endif %}
	<p>{{ page.body }}</p>

	<div class="project-image-gallery">
		{% for item in page.gallery_images.all %}
			{% image item.image width-900 as project_photo %}
			<div class="project-image-container">
				<img src="{{ project_photo.url }}" width="{{ project_photo.width }}"
				height="{{ project_photo.height }}" alt="{{ project_photo.alt }}" class="project-image" id="myImg"/>
				<p class="overlay">{{ item.caption }}</p>
			</div>
		{% endfor %}

		<div class="modal" id="myModal">
			<span class="close">&times;</span>
			<img class="modal-content" id="modal-image">
			<div id="caption"></div>
		</div>
	</div>
	<p><a href="{{ page.get_parent.url }}">Return to Projects</a></p>
</div>
	
{% endblock %}