{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
<div class="inner-container-project">
	<h1>{{ page.title }}</h1>
	{% if page.github %}
		<h3><a href="{{ page.github }}">GitHub</a></h3>
	{% endif %}
	{% if page.project_url %}
		<h3><a href="{{ page.project_url }}">Project link</a></h3>
	{% endif %}
	<p>{{ page.body }}</p>

	<div class="main-carousel">
		{% for item in page.gallery_images.all %}
			<div class="carousel-cell">
				{% image item.image width-900 as p_image %}
				<img src="{{ p_image.url }}">
				<p class="overlay">{{ item.caption }}</p>
			</div>
		{% endfor %}
	</div>
	<p class="project-page-return"><a href="{{ page.get_parent.url }}">Return to Projects</a></p>
</div>

{% endblock %}
